<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953623448248-694idfu0ttqpsbiru0udadf0ob7sd3lm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953623448248-694idfu0ttqpsbiru0udadf0ob7sd3lm</string>
	<key>API_KEY</key>
	<string>AIzaSyDlLYuH0owkbC3yngjpqco9Re2CaSjRpGw</string>
	<key>GCM_SENDER_ID</key>
	<string>953623448248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bddi.PoloVoyages</string>
	<key>PROJECT_ID</key>
	<string>bddi1-polotravel</string>
	<key>STORAGE_BUCKET</key>
	<string>bddi1-polotravel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953623448248:ios:f377420bbec81f7833824d</string>
	<key>DATABASE_URL</key>
	<string>https://bddi1-polotravel.firebaseio.com</string>
</dict>
</plist>